<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taolu.shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name="com.taolu.com.kinly.shop.global.RedBabyApplication"
        android:allowBackup="true"
        android:icon="@drawable/biscuit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.taolu.com.kinly.shop.activity.MainActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.StartActivity"
            android:theme="@style/NoTitleThemeFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.taolu.com.kinly.shop.activity.SplashActivity"
            android:theme="@style/NoTitleThemeFullscreen">
        </activity>
        <activity
            android:name="com.taolu.com.kinly.shop.activity.ImageLoadActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.taolu.com.kinly.shop.activity.BabyProductActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.RecommendActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.PanicActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.SalesActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.XinpinActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.HotActivity" />
        <!-- 阿丁 -->
        <activity android:name="com.taolu.com.kinly.shop.activity.UserManagerActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.PersonSettingActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.LoginActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.RegisterActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.PayMentActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.SearchShowActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.PaymentSuccess" />
        <activity android:name="com.taolu.com.kinly.shop.activity.Commodityorder" />
        <activity android:name="com.taolu.com.kinly.shop.activity.ThirdCategoryActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.PersonConcerningActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.AddrManagerActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.HelpActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.ShoppingGuideActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.ProductCollectActivity" />
        <activity android:name="com.taolu.com.kinly.shop.activity.ProductListActivity" />

    </application>

</manifest>